body {
    background-color: #171717;
}

img{
    max-width: 100%;
    height: auto;
}

input[type="text"]{

    width: 100%;
    background-color: #171717;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #4f4f4f;
    color: #FFFFFF;
}

textarea{
    resize: none;
    width: 100%;
    background-color: #171717;
    padding: 10px 10px;
    border: 1px solid #4f4f4f;
    color: #FFFFFF;
}

.navbar {
    margin: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 48px;
}

.navbuttons-container{
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    width: 25%; 
}

.navbuttons{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 98px 10px 128px;
    row-gap: 240px;
}

.intro-container{
    font-family: 'DM Sans';
    font-style: normal;
}

.intro-head{
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    margin: 5px 0px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.intro-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin: 5px 0px;
    color: #828282;
}

.image-container{
    overflow: hidden;
    padding: 45px;
    width: 600px;
}

.button{
    background-color: #27AE60;
    border: none;
    color: white;
    padding: 12px 27px;
    margin: 25px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.content-container{
    font-family: 'DM Sans';
    font-style: normal;
    text-align: center;
    align-items: center;
    margin: 60px 98px 100px 128px;   
}

.about-head{
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    margin: 5px 0px;
    color: #FFFFFF;
}

.about-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 30px 250px;
    color: #FFFFFF;
}

.about-buttons-container{
    display: flex;
    justify-content: space-around;
    margin: 90px 100px 50px 100px;
    padding: 5px; 
}

.about-button{
    background: #27AE60;
    border-radius: 52px;
    border: none;
    width: 300px;
    height: 90px;
    color: white;
}

.about-button-text{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.services-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 20px 50px 20px;
    
}

.services-box{
    flex-direction: column;
    justify-content: space-between;
    width: 349px;
    height: 241px;
    padding: 35px 30px 35px 50px;
    text-align: left;
    background: #212121;
    border-radius: 20px;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #535353;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    background: #212121;
    border: 1px solid #333333;
    border-radius: 20px;
    margin: 100px 55px 50px 55px;
    padding: 60px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #27AE60;
}

.form-container{
    margin: 83px 215px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #4f4f4f;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names{
    display: flex;
    gap: 19px;
    margin-bottom: 47px;
    width: 100%; 
}

#submit-btn{
    width: 20%;
}




