body {
    background-color: #171717;

}

#ketan{
    width: 100%;
    height: auto;
    min-width: 150px;
}

input[type="text"]{

    width: 100%;
    background-color: #171717;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #4f4f4f;
    color: #FFFFFF;
}

textarea{
    resize: none;
    width: 100%;
    background-color: #171717;
    padding: 10px 10px;
    border: 1px solid #4f4f4f;
    color: #FFFFFF;
}

a{
    color: inherit;
    text-decoration: inherit;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #ffffff;
    text-shadow:0px 0px 30px #ffffff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.navbar {
    margin: 1.4% 6.25%;              /* 1280 x 720 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;

}

.logo {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 48px;
}

.navbuttons-container{
    display: flex;
    gap: 40px;

   
    
}

.navbuttons{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2.8% 7.65% 1.4% 10%;     /* Container Width - 1054px */
    

   
}

.intro-container{
    font-family: 'DM Sans';
    font-style: normal;

   
}

.intro-head{
    font-weight: 700;
    font-size: 3.75vw;
    line-height: 4.8vw;
    margin: 5px 0px;
    letter-spacing: 0.15vw;
    color: #FFFFFF;
}

.intro-text{
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 1.8vw;
    margin: 5px 0px;
    color: #828282;
}

.image-container{
    overflow: hidden;
    padding: 7.75%;
    width: 55%;                 /* 580px */

   
}

.button{
    background-color: #27AE60;
    border: none;
    color: white;
    padding: 4.3% 7.3%;
    margin: 8.97% 0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1vw;
}

.button:hover{
    background-color: #2dc36b;
}

.button:active {
    background-color: #2dc36b;
    transform: translate(0px,2px);
}

.content-container{
    font-family: 'DM Sans';
    font-style: normal;
    text-align: center;
    align-items: center;
    margin: 8.3% 7.65% 13.8% 10%;    /*60px 98px 100px 128px*/
    
    border: 1px solid red;
}

.about-head{
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    margin: 5px 0px;
    color: #FFFFFF;
}

.about-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 30px 23.7%;
    color: #FFFFFF;
}

.about-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 90px 100px 50px 100px;
    padding: 5px; 

    border: 1px solid red;
}

.about-button{
    background: #27AE60;
    border-radius: 52px;
    border: none;
    width: 300px;
    height: 90px;
    color: white;
}

.about-button-text{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 20px 50px 20px;
    
}

.services-box{
    flex-direction: column;
    justify-content: space-between;
    width: 349px;
    height: 241px;
    padding: 35px 30px 35px 50px;
    text-align: left;
    background: #212121;
    border-radius: 20px;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #535353;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    background: #212121;
    border: 1px solid #333333;
    border-radius: 20px;
    margin: 100px 55px 50px 55px;
    padding: 60px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #27AE60;
}

.form-container{
    margin: 83px 215px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #4f4f4f;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names{
    display: flex;
    gap: 19px;
    margin-bottom: 47px;
    width: 100%; 
}

#submit-btn{
    width: 20%;
}

/* @media only screen and (max-width: 990px){
    
    .container{
        justify-content: space-around;
    }
} */

@media only screen and (max-width: 440px) {

    .navbar{
        margin: 10px 40px;
    }

    .navbuttons-container{
        display: none;
    }

    .container{
        justify-content: space-around;
        margin: 2.8% 7.65% 1.4% 5%;
    }

    .intro-head{
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        margin: 5px 0px;
        letter-spacing: 1.5px;
    }

    .intro-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        margin: 5px 0px;
    }

    .button{
        padding: 12px 27px;
        margin: 10px 0px;
        font-size: 14px;
        line-height: 18.23px;
    }

    .image-container{
        padding: 30px;
        width: 350px;                 /* 580px */
    }

    .content-container{
        margin: 20px;
    }

    .about-head{
        font-size: 40px;
        line-height: 55pxpx;
    }

    .about-text{
        font-size: 16px;
        line-height: 18px;
        margin: 20px 40px;
    } 
    
    .about-buttons-container{
        margin: 60px 20px;
        padding: 5px; 
    
        border: 1px solid red;
    }
    
    .about-button{
        border-radius: 40px;
        width: 250px;
        height: 70px;
        margin: 5px 0px;
    }
    
    .about-button-text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .services-container{

        margin: 50px 20px;
        border: 1px solid red;
    }
    
    .services-box{
        width: 300px;
        height: 200px;
        margin: 5px 0px;
        padding: 25px 20px 25px 40px;
        border-radius: 20px;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
    }

    .skills-container{
        flex-direction: column;
        margin: 50px 55px 50px 55px;
        padding: 30px 0px;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        
        border: 1px solid red;
    }

    .skill-item{
        margin: 10px 0px;
    }

    .form-container{
        margin: 45px 20px;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }
    
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .names{
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
        width: 100%; 
    }
    
    #submit-btn{
        width: auto;
    }


    
}




